.food-list {
  display: flex;
}

.foods {
  width: 33.33%;
  padding: 15px;
}

.foods .food-image {
  width: 100%;
}
.content{
	width: 100%;
	height: 250;
	padding: 10px;
	float: right;
	box-sizing: border-box;
	margin-top: 20px;

}